@use "styles/tokens" as tokens;

.grid {
  display: grid;
  gap: 1.5rem;
}

.two {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.three {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
